#отключаем екранирование кавычек на уровне вебсервера
php_flag magic_quotes_gpc Off

AddDefaultCharset utf-8
DirectoryIndex index.php

#перенаправляем все запросы пользователя на index.php
RewriteEngine on
#--Don't favicon!
RewriteCond %{REQUEST_FILENAME} !^favicon\.ico

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*) index.php [QSA,L]